<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Add new item</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <div class="form-group">
      <div class="input-group">
        <label for="itemName">Name
          <input id="itemName" class="form-control" placeholder="item name" [formControl]='itemName'>
        </label>
        <br>
        <label for="price">Price
          <input id="price" class="form-control" placeholder="price" [formControl]='price'>
        </label>
        <br>
        <label for="item-description">Description
          <textarea id="item-description" class="item-description" placeholder="add some description" [formControl]='description'></textarea>
        </label>
        <div id='error'></div>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="checkInput()">Add item</button>
</div>