<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Corner Store</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="jumbotron">
    <h1 style="text-align: center">Corner Store</h1>
  </div>
  <div class="main-container">
    <div id='map' class='map-container'></div>
    <div class="shoplist-wrapper">
      <button class="btn btn-outline-dark" (click)='addShop()'>New shop</button>
      <div *ngIf='shops' class="list-group list-group-flush shops-wrappe">
        <div *ngFor='let s of shops' class="list-group-item">
          <a class="list-group-item list-group-item-action flex-column align-items-start">
            <div (click)='viewInfo(s)'>
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{s.name}}</h5>
                <small>{{s.goods.length}}</small>
              </div>
              <p class="mb-1">{{s.address}}</p>
              <small>{{s.schedule}}</small>
            </div>
            <div class="d-flex flex-row justify-content-around">
              <button class="btn btn-outline-success" id='goods' (click)='addItem(s.ID)'>Add goods</button>
              <button class="btn btn-outline-danger" (click)='deleteShop(s)'>Delete Shop</button>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>