.map-container {
    width: 800px;
    height: 600px;
    margin: 0 auto;
    .border();
}

.border {
    border: 2px solid salmon;
}

.wrapper {
    .border();
    width: 40%;
    height: auto;
}

.items-wrapper {
    border: 1px solid darkslategray;
    width: 400px;
    height: auto;
}